.outerDragdropCon {
    display: flex;
    justify-content: left;
    height: 100%;
}

.columnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnHeader {
    user-select: none;
}

.columnMain {
    padding: 4px;
    width: 200px;
    min-height: 500px;    
}

.cardMain {
    user-select: none;
    padding: 16px;
    margin: 0 0 8px 0;
    min-height: 30px;
    color: #ffffff;
}

.columnDrop {
    display: flex;
}
