.outerDragdropCon {
    display: flex;
    justify-content: left;
    height: 90%;
}

.columnDrop {
    display: flex;
}

.addListButton {
    padding: 4px;
    width: 200px;
    height: 40px; 
    border-radius: 5px 5px 5px 5px;
    /* background-color: #3F51B5; 
    color: #ffffff; */
}

.addListIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.addListIconCancel {
    grid-column: 5/6;
    cursor: pointer;
}

.addListIconCheck {
    grid-column: 2/3;
    cursor: pointer;
}
